services:
  dozzle:
    image: amir20/dozzle:v9.0.2
    container_name: dozzle
    restart: unless-stopped
    hostname: dozzle
    environment:
      # DOZZLE_LEVEL: debug
      DOZZLE_TAILSIZE: 300
      DOZZLE_FILTER: "status=running"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  default:
    external: true
    name: ${DOCKER_NETWORK}
