[Unit]
Description=Arvigeus VPS storage maintenance
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/arvigeus-maintenance
Nice=10
IOSchedulingClass=idle
