DOMAIN=
DOCKER_NETWORK=caddy_net

BASICAUTH_USER=
BASICAUTH_PASS=
BASICAUTH_PASS_PLAIN=

USER=
EMAIL=

SERVICES=../../services
DATA=../../data
HOST_HOME=/home/<user>
HOST_WORKSPACE=../../workspace

TZ=

PASSWORD=
PASSWORD_HASH=
PASSWORD_CADDY=
PGID=112
PUID=1000

# USING SENDGRID FOR SENDING EMAILS
MAIL_DOMAIN=
MAIL_FROM_ADDRESS=
SMTP_SSL=true
SMTP_EXPLICIT_TLS=true
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=
SMTP_FROM=
SMTP_USERNAME=apikey
SMTP_PASSWORD=
