# {
#     #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
#     order webdav before file_server
# }

{$DOMAIN} {
	reverse_proxy homer:8080
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

system.{$DOMAIN} {
	reverse_proxy host.docker.internal:9090
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

updates.{$DOMAIN} {
	reverse_proxy dockcheck-web:80
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}

	basicauth {
		# username passwd_hash
		{$BASICAUTH_USER} {$BASICAUTH_PASS}
	}
}

logs.{$DOMAIN} {
	reverse_proxy dozzle:8080
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}

	basicauth {
		# username passwd_hash
		{$BASICAUTH_USER} {$BASICAUTH_PASS}
	}
}

vault.{$DOMAIN} {
	encode gzip

	header {
		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"
		# Disallow the site to be rendered within a frame (clickjacking protection)
		X-Frame-Options "DENY"
		# Prevent search engines from indexing (optional)
		X-Robots-Tag "none"
		# Server name removing
		-Server
	}

	# Notifications redirected to the websockets server
	reverse_proxy /notifications/hub vaultwarden:3012

	# Proxy the Root directory to Rocket
	reverse_proxy vaultwarden:80
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

# webdav.{$DOMAIN} {
#     basicauth {
#         # username passwd_hash
#         {$BASICAUTH_USER} {$BASICAUTH_PASS}
#     }
#     root /* /var/www
#     webdav /*
# }

files.{$DOMAIN} {
	redir https://cloud.{$DOMAIN}/apps/files/{url}
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

contacts.{$DOMAIN} {
	redir https://cloud.{$DOMAIN}/apps/contacts/{url}
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

calendar.{$DOMAIN} {
	redir https://cloud.{$DOMAIN}/apps/calendar/{url}
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

media.{$DOMAIN} {
	reverse_proxy jellyfin:8096
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

notes.{$DOMAIN} {
	reverse_proxy mind:8080
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

joplin.{$DOMAIN} {
	reverse_proxy joplin:22300
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

wiki.{$DOMAIN} {
	reverse_proxy affine:3000
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

memos.{$DOMAIN} {
	reverse_proxy memos:5230
	tls {
			dns hetzner {$HETZNER_API_TOKEN}
	}
}

notifications.{$DOMAIN} {
	reverse_proxy ntfy:80
	tls {
			dns hetzner {$HETZNER_API_TOKEN}
	}

	basicauth {
		# username passwd_hash
		{$BASICAUTH_USER} {$BASICAUTH_PASS}
	}
}

apprise.{$DOMAIN} {
	reverse_proxy apprise:8000
	tls {
			dns hetzner {$HETZNER_API_TOKEN}
	}
}

todo.{$DOMAIN} {
	reverse_proxy noted:8080
	tls {
			dns hetzner {$HETZNER_API_TOKEN}
	}
}

music.{$DOMAIN} {
	redir https://cloud.{$DOMAIN}/apps/music/{url}
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

kanban.{$DOMAIN} {
	reverse_proxy planka:1337
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

photos.{$DOMAIN} {
	redir https://cloud.{$DOMAIN}/apps/photos/{url}
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

rss.{$DOMAIN} {
	reverse_proxy rss-bridge:80
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}

	basicauth {
		# username passwd_hash
		{$BASICAUTH_USER} {$BASICAUTH_PASS}
	}
}

news.{$DOMAIN} {
	reverse_proxy miniflux:8080
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

recipes.{$DOMAIN} {
	reverse_proxy mealie:80
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

vpn.{$DOMAIN} {
	reverse_proxy wireguard:51821
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

bookmarks.{$DOMAIN} {
	reverse_proxy linkding:9090
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}

mail.{$DOMAIN} {
	reverse_proxy inbucket:9000
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}

	basicauth {
		# username passwd_hash
		{$BASICAUTH_USER} {$BASICAUTH_PASS}
	}
}

research.{$DOMAIN} {
	reverse_proxy wallabag:80
	tls {
		dns hetzner {$HETZNER_API_TOKEN}
	}
}
