services:
  ntfy:
    image: binwiederhier/ntfy:v2.15.0
    hostname: ntfy
    container_name: ntfy
    restart: unless-stopped
    command:
      - serve
    environment:
      - TZ=${TZ}
    user: ${PUID}:${PGID}
    volumes:
      - ${DATA}/ntfy/var/cache/ntfy:/var/cache/ntfy
      - ${DATA}/ntfy/etc/ntfy:/etc/ntfy

networks:
  default:
    external: true
    name: ${DOCKER_NETWORK}
