services:
  memos:
    image: neosmemo/memos:0.26.0
    hostname: memos
    container_name: memos
    restart: unless-stopped
    volumes:
      - ${DATA}/memos/:/var/opt/memos

networks:
  default:
    external: true
    name: ${DOCKER_NETWORK}
